$white: #FFFFFF;
$black: #000000;
$blue: #6EB0DE;

html { height: 100%; width: 100%; }
body {
    width: 100%; height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: $white;
    font-size: 14px; line-height: 20px;
}

.container {
    width: 100%;
    position: relative;
}

header {
    width: 100%;

    .top-part {
        padding: 20px 10px 0px 10px;
        background: $black;

        #nav-top {
            padding: 10px 0px 0px 30px;

            li {
                display: inline;

                a {
                    text-decoration: none;
                    font-size: 12px;
                    color: $white;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                .active {
                    color: $blue;
                    font-weight: bold;
                }

                :hover {
                    color: $blue;
                }
            }
        }

        p {
            padding-left: 40px;
            color: $white;
            font-family: 'Courier New', monospace;
            font-weight: bold;
            letter-spacing: 5px;
        }
    }

    .bot-part {
        padding-top: 9px;
        background: transparentize($white, 1);

        #nav-mid {
            font-size: 0px;

            li {
                display: inline;

                a {
                    padding: 10px 20px 10px 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-family: "Impact", sans-serif;
                    border: 1px solid $black;
                    background: $white;
                    color: $black;
                }

                .active {
                    background: $black;
                    color: $white;
                }

                :hover {
                    background: $black;
                    color: $white;
                }
            }
        }
    }
}

#content {
    padding-top: 140px;
    height: 100%;

    .sidebar {
        position: fixed;
        margin-right: 10%;
        padding: 10px 10px 10px 10px;
        text-align: justify;
    }

    .panel-heading {
        font-family: "Courier New", monospace;
    }
}

#posthere, #writepost {
    padding: 10px 20px 10px 20px;
}

.notif-badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -5px;
    font-size: .7em;
    background: green;
    color: white;
    width: 18px; height:18px;
    text-align: center;
    line-height: 18px;
    box-shadow: 0 0 1px #333;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    color: $black;
    display: none;

    .panel {
        margin-top: 20px;
    }

    .panel-heading, .panel-footer {
        font-family: "Courier New", monospace;
    }
}
