html { height: 100%; width: 100%; }
body {
    width: 100%; height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #E1E1E1;
    font-size: 14px; line-height: 20px;
}

.container {
    width: 100%;
    padding-top: 60px;
}

.nav {
    color: #000000;
}

/*#content article {
}*/

.main {
    background: #000000;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: #CCCCCC;
}

/*#content aside {
}*/

.sidebar {
    background: #000000;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: #CCCCCC;
    /*position: fixed;*/
    /*right: 0px;*/
}
