html { height: 100%; width: 100%; }
body {
    width: 100%; height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    font-size: 14px; line-height: 20px;
}

.container {
    width: 100%;
    /*padding-top: 60px;*/
}

header {
    width: 100%;
    background: #000000;
}

nav {
    color: #000000;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

/*#content article {
}*/

.main {
    background: #000000;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: #CCCCCC;
}
